<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="copyright"><b>{{ site.title }}</b> &copy; 2017</span>
      </div>
      <div class="col-md-6">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://github.com/juhneece/womenatwork.github.io">
              <span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
              <span class="copyright">View on <strong>Github</strong></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>
